<%= render 'shared/title', title: 'Post List'%>
<!-- <h1>Posts List</h1> 刪這行加上行，View Partial用法-->
<h3>All Posts</h3>

<% @posts.each do |post| %>
  <div class="row">
    <div class="well col-md-6">
      <p>
        <h4><%= post.title %></h4>
      </p>
      <p>
        <%= post.content %>
      </p>
      <br>
      <span>
        <%= link_to "show this post", posts_path(post)%>
      </span>
    </div>
  </div>
<% end %>

<!--以下08 ptt 最後-->
<!-- 第二版
<% @posts.each do |post| %>
  <div class="row">
    <div class="well col-md-6">
      <p>
        <h4><%= post.title %></h4>
      </p>
      <p>
        <%= post.content %>
      </p>
      <br>
      <span>
        <%= link_to "show this post", posts_path(post)%>
        <!--何意？要加=嗎--
      </span>
    </div>
  </div>
<% end %>
以上為加了Bootstrap後的用法
<!-- 第一版
<hr>
<% @posts.each do |post| %>
<div>
  <div>
    <!-- 顯示 post.title 和 content --
    <p><%= post.title %></p>
    <p><%= post.content %></p>
    <span>
      <!-- link_to 會產生出 html <a> tag --
      <%= link_to "show post", posts_path(post)%>
      <!-- post_path加了s就browser出來了 --
      <!-- 在http://localhost:3000/info 查出來的，感謝 --
    </span>
  </div>
</div>
<% end %>
-->
